
.like-icon {
    display: inline-block;
    padding: 5px;
    border-radius: 50%; 
    transition: background-color 0.3s;
    color: red;
}

.like-icon:hover {
    background-color: rgba(0, 0, 0, 0.1); /* hover-effect */
}

.btn-delete {
    background-color: #ff00008f;

}

.btn-edit {
    background-color:rgb(255 255 0 / 27%);;
}

.btn-submit {
    background-color: #0080002b;
}
