

.btn-delete {
    background-color: #ff00008f;

}

.btn-edit {
    background-color:rgb(255 255 0 / 27%);;
}


#memberpage { color: white;
}

/*  commentbody vertikal element and scrollbar if needed */
 .card-body {
    display: flex;
    flex-direction: column; 
    overflow-y: auto; 
    padding: 1rem; 
  }
  
  
  @media (max-width: 768px) {
    .form-outline {
      font-size: 0.9em; 
    }
  }
  
