{% extends 'base.html' %}

{% block page_content %}

<h1 class="mb-4">Category: {{ category.name }}</h1>

<div class="row">
  {% for post in posts %}
    <div class="col-md-4 mb-4">
      <div class="card">
        {% if post.featured_image %}
          <img src="{{ post.featured_image.url }}" class="card-img-top" alt="{{ post.title }}">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.excerpt|truncatewords:20 }}</p>
          <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No posts found in this category.</p>
  {% endfor %}
</div>

{% endblock page_content %}
