{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block page_title %}
<h2>{{ post.title }}</h2>
{% endblock %}

{% block page_content %}
<main class="my-5">
  <div class="container">

    <!-- Back button to index -->
    <a href="{% url 'blog_index' %}" class="btn btn-secondary mb-4">
      <i class="fas fa-arrow-left"></i> Back to Blog Index
    </a>

    <!-- Post details -->
    <div class="row">
      <div class="col-md-8 mb-4">

        <!-- Post Image and Title -->
        <section class="border-bottom mb-4">
          <div class="text-center mb-3">
            <div class="image-container">
              {% if "placeholder" in post.featured_image.url %}
                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
              {% else %}
                <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
              {% endif %}
            </div>
          </div>
        </section>

        <!-- Post Content -->
        <div class="card-body">
          <p class="card-text">{{ post.content | safe }}</p>
        </div>
        <hr>

<!-- Comment and Likes -->
<div class="row align-items-center mb-2">
  <!-- Like Button -->
  <div class="col-auto">
      <div class="likes-section d-flex align-items-center">
          <div class="like-form">
            <a href="{% url 'like_post' post.id %}" class="like-button">
              {% if user in post.likes.all %}
                  <i class="fas fa-heart" style="color: red;"></i>
              {% else %}
                  <i class="far fa-heart" style="color: red;"></i>
              {% endif %}
          </a>
          <span class="likes-count">{{ post.likes.count }}</span>
          
          </div>
      </div>
  </div>

  <!-- Comment Count -->
  <div class="col-auto">
      <div class="comments-section d-flex align-items-center">
          <i class="far fa-comments me-2"></i>
          <strong class="text-secondary">{{ comment_count }}</strong>
      </div>
  </div>
</div>


        <!-- Share buttons -->
        <section class="text-center border-top border-bottom py-4 mb-4">
          <p><strong>Share with your friends:</strong></p>
          <a href="https://www.facebook.com/christina.ahman.5" class="btn btn-primary m-1" rel="nofollow" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.linkedin.com/in/christina-%C3%A5hman-2115101b2/" class="btn btn-primary m-1" rel="nofollow" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/chrahm/" class="btn btn-primary m-1" rel="nofollow" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </section>

       <!-- Comments Section -->
       <section>
       
        <div class="row d-flex justify-content-center">
          <div class="col-md-8 col-lg-6">
            <div class="card shadow-0 border" style="background-color: #f0f2f5;">

              <!-- Create comments -->
              <div class="card-body p-4">
                <div class="form-outline mb-4">
                  {% if user.is_authenticated %}
                    <label class="form-label" for="addANote"><span>Add a comment</span></label>
                    <input type="text" id="addANote" class="form-control" placeholder="Write your comment here" />
                    <form method="post" style="margin-top: 1.3em;">
                      {% csrf_token %}
                      {{ comment_form | crispy }}
                      <button class="btn btn-primary">Submit</button>
                    </form>
                  {% else %}
                  <p>Please Log in to write a comment.<hr>If you're not a member yet?<a href="{% url 'signup' %}"><br>Sign up here.</a></p>
                  {% endif %}
                </div>
              </div>


                <!-- Existing comments -->
                {% for comment in comments %}
                  <div class="card mb-4">
                    <div class="card-body">
                      <span>{{ comment.author }}</span>
                      <span>
                        <img src="{% static 'images/copywriter.png' %}" alt="Author Icon" style="width: 20px; height: 20px;">
                      </span>
                      <p class="font-weight-normal">{{ comment.created_on }} wrote:</p>
                      <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                      </div>
                      {% if not comment.approved and comment.author == user %}
                        <p class="approval">Your comment is awaiting approval</p>
                      {% endif %}
                      {% if user.is_authenticated and comment.author == user %}
                        <button class="btn btn-delete" data-comment_id="{{ comment.id }}">Delete</button>
                        <button class="btn btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                      {% endif %}
                    </div>
                  </div>
                {% empty %}
                  <p>No comments yet.</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>


        <!-- Delete confirmation modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment?</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete your comment? This action cannot be undone.
              </div>
              <div class="modal-footer">
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div> <!-- End of col-md-8 -->
    </div> <!-- End of row -->
  </div> <!-- End of container -->
</main>

</main>


{% endblock page_content %}
