{% extends 'base.html' %}
{% load static %}

{% block page_content %}


<link rel="stylesheet" href="{% static 'css/home.css' %}">

    <header>

  <!-- Carousel wrapper -->
  <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-carousel-init>

    <!-- Indicators -->
    <div class="carousel-indicators">
      <button
      type="button"
      data-mdb-target="#carousel"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carousel"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carousel"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
    </div>

    <!-- Inner -->
    <div class="carousel-inner">

      <!-- Header in picture -->
      <div class="carousel-item active">
        <div class="mask" style="background-color: transparent;">

          <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white text-center" data-mdb-theme="dark">
              <h1 class="mb-3">Invest in yourself</h1>
              <a class="btn btn-outline-light btn-lg m-2" href="{% url 'blog' %}" role="button">Read Blogs</a>
              <a class="btn btn-outline-light btn-lg m-2" href="{% url 'courses' %}" role="button">Course material</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <div class="mask" style="background-color: transparent;">

          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-black text-center">
              <h2>Don’t wait for the change. Be the change</h2>
            </div>
          </div>
        </div>
      </div>

      <!-- Single item -->
      <div class="carousel-item">
        <div class="mask" style="background-color: transparent;">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-black text-center"></div>
          </div>
        </div>
      </div>

    </div>

    <!-- Controls -->
    <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
 
</header>


<!--Main layout-->
<div class="mt-5">
  <div class="container">
    
    <!--Section: Content-->
    <section>
      <div class="row">
        <div class="col-md-2 gx-5 mb-2">
          <div class="bg-image hover-overlay shadow-2-strong">
            <img src="{% static 'images/profile.jpg' %}" class="img-fluid" alt="Profile Image">
            <a href="#!">
              <div class="mask" style="background-color: transparent;"></div>

            </a>
          </div>
        </div>

        <div class="col-md-8 gx-5 mb-4">
          <h2><strong>My story</strong></h2>
          <h3><strong>I am!</strong></h3>
          
          <p class="text-dark">
            I am a curious person who has lived a rich and varied life so far. <br> 
            I grew up in a bit dysfunctional family, which I once believed was "normal. Like a lot of people do." <br> 
            I love my family, but I missed to take care of myself in a proper way. <br> 
            I lost my father when I was 17, and I thought my own life would be similarly short. <br> 
            It has always been crucial for me to prove to myself that I am worthy of love. <br> 
            My mind has constantly been active, seeking to find my best self and deliver it. <br> 
            Efficiency became my benchmark, as I grew fearful of not having enough time to accomplish all I wanted. <br> 
            And as a curious person, that's quite a lot! <br> 
            This drive led me to burn out, leaving me exhausted and disappointed in myself.
          </p>
          <hr>
          <p class="text-dark">
            Today, having lived at least half my life, I experience a great sense of freedom. <br> 
            The greatest freedom is finding and loving myself, and enjoying the wealth of experiences I've gathered along the way.
          </p>
          <hr>
          <h6 class="text-dark">
            I want you to feel this same freedom and guide you on your path to becoming your best self. <br> 
            Your best self is, of course, the place where you enjoy the best and feel comfortable with how to get through ups and downs.
          </h6>
          <hr>
          <h5 class="text-dark">
            Join me on my blog and explore my materials for self-actualization and personal growth.
          </h5>
        </div>
    </section>
  </div>
</div>


{% endblock page_content %}
