{% extends 'base.html' %}

{% load static %}

{% block page_title %}
    <h2>Blog Posts</h2>
{% endblock page_title %}


<header>
  <!-- Intro settings -->
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }

    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }
  </style>
</header>

{% block page_content %}

  
  <!--Main layout-->
  <main class="my-5">
    <div class="container">
   
      <!--Section: Content-->
      <section class="text-center">
        <h4 class="mb-5"><strong>Latest posts</strong></h4>

        <div class="row">
          {% for post in posts %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                <img src="{{ post.image_url }}" class="img-fluid" alt="{{ post.title }}" /> <!--rätt url för img?-->
                <a href="{% url 'blog_detail' post.pk %}">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content|safe }}...</p>
                </p>
                <a href="{% url 'blog_detail' post.pk %}" class="btn btn-primary" data-mdb-ripple-init>Read</a>
              </div>
            </div>
          </div>
     {% endfor %}
        </div>
      </section>
<!--Section: Content-->


      <!-- Pagination -->
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="visually-hidden">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </main>
  <!--Main layout-->


  {% endblock page_content %}

