{% extends 'base.html' %}

{% load static %}

<!-- index.html content starts here -->

{% block page_content %}

<header>
  <!-- Intro settings -->
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }

    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }
  </style>
</header>

{% block content %}

  <body>
  <!--Main layout-->
  <main class="my-5">
    <div class="container">
   
      <!--Section: Content-->
      
      <section class="text-center">
        <!--<h4 class="mb-5"><strong>Latest posts</strong></h4>-->
        {% for post in post %}
        <div class="row">
          
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
              <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                <img src="{{ post.image.url }}" class="img-fluid" alt="{{ post.title }}" />
                <a href="{% url 'post_detail' post.slug %}">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
              </div>
              <div class="card-body">   
                <h5 class="card-title">{{ post.title }}</h5>
               <p class="media">{{ post.get_media_type_display }}</p>   

                <p class="card-text">{{ post.excerpt|safe }}</p>
                <a href="{% url 'blog_detail' post.pk %}" class="btn btn-primary" data-mdb-ripple-init>Read</a>
                <p class="card-text text-muted h6">{{ post.created_on }} <i class="far fa-heart"></i> {{ post.number_of_likes }}</p>
                     
              </div>
            </div>
          </div>
          {% empty %}
    <p>No publish posts</p>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
<!--Section: Content-->


      <!-- Pagination -->
<nav aria-label="...">
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active" aria-current="page">
          <span class="page-link">{{ num }}</span>
        </li>
        {% elif num > page_obj.number|add:-2 and num < page_obj.number|add:2 %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
    {% endif %}
  </ul>
</nav>

    </div>
    </main>
  </body>

  {% endblock %}
  <!--Main layout-->


{% endblock page_content %}
