{% extends 'base.html' %}
{% load static %}


<!-- courses .html content starts here -->

 
{% block page_content %}



<header>
    <style>
      #intro {
        background-image: url("{% static 'images/mindfulcourse.jpg' %}");
        height: 100vh;
      }
  
      /* Height for devices larger than 576px */
      @media (min-width: 992px) {
        #intro {
          margin-top: -58.59px;
        }
      }
  
      .navbar .nav-link {
        color: black;
      }
    </style>
     <script>
      console.log("Logged in status: '{{ logged_in }}'");
    </script>
</header>

  <!-- Background image -->
 
  <div id="intro" class="bg-image shadow-2-strong">
    <div class="mask d-flex align-items-center h-100" style="background-color: rgba(165, 163, 147, 0.8);">
     
      {% if logged_in %}
          <div class="container">
            <div class="text-center mb-4">
              <div class="overlay">
                  <p class="h4" style="color: #4d5157; font-weight: bold;">Welcome to your Course Material</p>  
              </div>
          </div>
      </div>
      {% else %}

      <!--  Log In form for unauthorized users-->
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-md-8">
            <form class="bg-white rounded shadow-5-strong p-5">
              <p style="color: #4d5157;"> This is a memberpage. <br>Please Log In or Sign Up:</p>
              <div class="form-outline mb-4" data-mdb-input-init style="background-color: #386bc0;">
                <input type="text" id="form1Example1" class="form-control" onclick="window.location.href='{{ login_url }}'" />
                <label class="form-label" for="form1Example1"style="color:white;" >Log In</label>
              </div>
              <div class="form-outline mb-4" data-mdb-input-init style="background-color: #386bc0;">
                <input type="text" id="form1Example2" class="form-control" onclick="window.location.href='{{ signup_url }}'" />
                <label class="form-label" for="form1Example2" style="color:white;" >Sign Up</label>
              </div>
          </form>
        </div>
    </div>
</div>
{% endif %}

    </div>
  </div>
     <hr>
  <!-- Background image -->

  {% if user.is_authenticated %}
  <div class="row">
      {% for course in courses %}
          <div class="col-lg-4 col-md-12 mb-4">
              <div class="card">
                  <div class="bg-image hover-overlay" data-mdb-ripple-init data-mdb-ripple-color="light">
                      <div class="image-container">
                          {% if "placeholder" in course.featured_image.url %}
                              <img class="card-img-top" src="{% static 'images/defa.jpg' %}" alt="placeholder image">
                          {% else %}
                              <img class="card-img-top" src="{{ course.featured_image.url }}" alt="{{ course.title }}">
                          {% endif %}
                      </div>
                      <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </div>
                  <div class="card-body">
                      <h2 class="card-title h5">{{ course.title }}</h2>
                      <p class="card-text">{{ course.excerpt|safe }}...</p>
                      <a href="{% url 'course_detail' course.slug %}" class="btn btn-primary">View Course</a>
                      <hr>
                      <p class="card-text text-secondary h6">{{ course.created_on }}</p>
                  </div>
              </div>
          </div>
      {% empty %}
          <p>No available courses</p>
      {% endfor %}
  </div>

    {% endif %}
    
{% endblock page_content %}

 